# Data Extraction, Transformation, Loading

In [57]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [58]:
df : pd.DataFrame = pd.read_csv("./bank/bank.csv", encoding="utf-8", engine="python", sep=";") # load data from file
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [60]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

## Correlation

In [61]:
# show correlation between the 
df[['age','balance', 'day', 'duration', 'campaign', 'pdays', 'previous']].corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.083820 -0.017853 -0.002367 -0.005148 -0.008894 -0.003511
balance   0.083820  1.000000 -0.008677 -0.015950 -0.009976  0.009437  0.026196
day      -0.017853 -0.008677  1.000000 -0.024629  0.160706 -0.094352 -0.059114
duration -0.002367 -0.015950 -0.024629  1.000000 -0.068382  0.010380  0.018080
campaign -0.005148 -0.009976  0.160706 -0.068382  1.000000 -0.093137 -0.067833
pdays    -0.008894  0.009437 -0.094352  0.010380 -0.093137  1.000000  0.577562
previous -0.003511  0.026196 -0.059114  0.018080 -0.067833  0.577562  1.000000

## Rename columns

In [62]:
df.rename(columns={'default':'has_credit', 'balance':'avg_year_balance', 'housing':'house_loan', 'contact':'contact_type', 'duration':'last_contact_in_sec', 'campaign':'num_compaign_contact', 'pdays':'num_days_last_contact', 'previous':'num_prev_contact', 'poutcome':'prev_compaign_outcome'}, inplace=True)
df.head()

,age,job,marital,education,has_credit,avg_year_balance,house_loan,loan,contact_type,day,month,last_contact_in_sec,num_compaign_contact,num_days_last_contact,num_prev_contact,prev_compaign_outcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

## Transform data

In [79]:
# USE LABEL ENCODER, TO ENCODE

def encode_contact_type(type):
    '''return value representing encoding type'''
    try:
        if type=='cellular': return 1
        elif type=='telephone': return 2
        else: return '3'
    except Exception as e: print(e)

In [ ]:
# make column to have numeric representation
df['has_credit'] = df['has_credit'].apply(lambda x : 1 if x=='yes' else 0 )

In [68]:
# 
df['house_loan'] = df['house_loan'].apply(lambda x: 1 if x=='yes' else 0 )

In [72]:
# df['loan'].unique()
df['loan'] = df['loan'].apply( lambda x: 1 if x=='yes' else 0 )

In [82]:
# for columns with a lot of different names us label encoders.
df['contact_type'] = df['contact_type'].apply( encode_contact_type )
df.head()

,age,job,marital,education,has_credit,avg_year_balance,house_loan,loan,contact_type,day,month,last_contact_in_sec,num_compaign_contact,num_days_last_contact,num_prev_contact,prev_compaign_outcome,y
0,30,unemployed,married,primary,0,1787,0,0,3,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,0,4789,1,1,3,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,0,1350,1,0,3,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,0,1476,1,1,3,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,0,0,1,0,3,5,may,226,1,-1,0,unknown,no

## Save to file

In [64]:
# Save new data to file.
df.to_csv("./bank/bank_etl.csv", index=False, encoding="utf-8")